#login {
  md-input-group input {
    width: 100%;
  }
  /*-- signin-card animation ---------------------------------------- */
  .signin-card {
    animation: cardEnter 0.75s ease-in-out 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  /* -- login paper styles ------------------------------ */
  .signin-card {
    max-width: 350px;
    border-radius: 2px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19),
    0 6px 6px rgba(0, 0, 0, .23); // shadow depth 3
  }

  .signin-card {
    .logo-image, h1, p {
      text-align: center;
    }
  }

  /* -- font styles ------------------------------------- */
  h1.title {
    font-size: 26px;
    font-weight: 300;
    line-height: 1.2;
    color: #757575;
    text-transform: inherit;
    letter-spacing: inherit;
  }

  .subhead {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.1;
    color: #212121;
    text-transform: inherit;
    letter-spacing: inherit;
  }
}
