#login.container
  .signin-card
    h1.title Agent Portal Login
    form
      div(layout='row')
        md-text-float#username(flex, label='Username', ng-model='vm.username')
      div(layout='row')
        md-text-float#password(flex, label='Password', ng-model='vm.password', type='password')
      div(layout='row')
        md-checkbox(flex, aria-label='Remember Me', model='vm.remember') Remember Me
      div(layout='row', layout-align='end center')
        md-button.md-primary(ng-click='vm.login()') Login
