//
   Created by bjones on 12/5/14.

section(layout='row', layout-sm='column', layout-align='center center')
  md-content.md-whiteframe-z1.md-padding(layout-margin='')
    div(layout='row', flex)
      md-button.md-primary.md-raised(layout-align='center center', ng-click='vm.takeCall()')
        | Take a Call
    div(layout='row',  flex)
      md-button.md-raised(disabled, layout-align='center center')
        | Refund Processing
    div(layout='row',  flex)
      md-button.md-oraige-theme.md-warn.md-raised(disabled, layout-align='center center')
        | Administration
