#search
  md-card
    md-toolbar.md-dark-theme(md-theme='')
      div(layout='row')
        h1.md-toolbar-tools(flex='90')
          span Search
    form
      div(layout='row')
        md-text-float(flex='50', label='FirstName', ng-model='vm.search.firstName')
        md-text-float(flex='50', label='LastName', ng-model='vm.search.lastName')
      md-text-float(label='Address', ng-model='vm.search.address')
      div(layout='row')
        md-text-float(flex='33', label='City', ng-model='vm.search.city')
        md-text-float(flex='33', label='State', ng-model='vm.search.state')
        md-text-float(flex='33', label='Postal Code', ng-model='vm.search.postalCode')
      div(layout='row')
        md-text-float(flex, label='Country', ng-model='vm.search.country', disabled='')
        md-text-float(flex, label='Email', ng-model='vm.search.email', disabled='')
      div(layout='row', layout-align='end center')
        md-button.md-raised.md-primary(ng-click='doSearch()') Search

  md-card(ng-if='searchResults.length')
    md-toolbar.md-dark-theme
      h1.md-toolbar-tools
        span Results
    md-text-float(ng-model='vm.filter', label='Type to filter on any item')
    md-list
      md-item.searchResult(ng-repeat='result in vm.searchResults | filter: filter', ng-click='selectResult(result)')
        md-item-content
          .md-title-left
            img.brand(src='http://placehold.it/60x60', alt='{{result.brand}}')
            md-tooltip(md-visible='showBrandTooltip') {{result.brand}}
          div.md-tile-content
            md-inline-list-icon(icon="message")
            h3(layout='row')
              div.bold(flex) {{result.name}}
              div.memberId.bold.underline(flex='20') {{result.memberId}}
              i.fa(flex='5', ng-class="memberStatusClass(result.memberStatus)")
                md-tooltip(md-visible='showMemberStatusTooltip') {{result.memberStatus}}
            div(layout='row')
              div(flex) {{result.address}}
              div(flex) {{result.email}}
            div(layout='row')
              div {{result.city}}, {{result.state}} {{result.zip}}
        md-divider(ng-if='!$last')
    div(layout='row')
      md-button(ng-click='vm.doSearch(1)', ng-disabled="vm.currentPage === 1") <<
      md-button(ng-repeat='page in vm.currentPages', ng-click='vm.doSearch(page)',
      ng-class="{'md-primary': page === vm.currentPage}") {{::vm.page}}
      md-button(ng-click='doSearch(vm.totalPages)', ng-disabled="currentPage === vm.totalPages") >>
