#search {
  md-input-group {
    padding: 8px;
  }

  img.brand {
    border-radius: 30px;
    margin-left: 10px;
  }

  .memberId {
    text-align: right;
    padding-right: 10px;
  }

  .searchResult {
    cursor: hand;

    md-item-content:hover {
      background: #eee;
    }
  }
}