//
   Created by bjones on 12/4/14.

html(ng-app='app', ng-cloak, ng-strict-di)
  head
    // build:js
    // endbuild
    // build:css
    // endbuild
  body
    md-toolbar(layout='column')
      .md-toolbar-tools(flex='', layout='column', tabindex='0')
        div(layout='row', flex='')
          | Agent Portal
          div(flex, layout='row', layout-align='end center', ng-if='currentUser')
            md-button.md-raised Hello, {{ currentUser.name || 'User' }}

    md-content#mainContent.md-padding(layout='row', layout-align='center center', ui-view='')

